config TOUCHSCREEN_ILI251X
	tristate "Ilitek ILI251X  touchscreen"
	depends on I2C
	help
	  Say Y here if you have a ILI251X based touchscreen
	  controller.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called ili2510.
