/* Copyright (c) 2018, Facebook Inc. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

&i2c_5 {
	/delete-node/ lm96163@0x4c;

	lp5569@0x32 {
		compatible = "ti,lp5569";
		reg = <0x32>;
		clock-mode = /bits/ 8 <1>; /* Internal */

		R1 {
			chan-name = "R1";
			led-cur = /bits/ 8 <50>;
			max-cur = /bits/ 8 <160>;
		};

		G1 {
			chan-name = "G1";
			led-cur = /bits/ 8 <50>;
			max-cur = /bits/ 8 <160>;
		};

		B1 {
			chan-name = "B1";
			led-cur = /bits/ 8 <50>;
			max-cur = /bits/ 8 <160>;
		};

		R2 {
			chan-name = "R2";
			led-cur = /bits/ 8 <50>;
			max-cur = /bits/ 8 <160>;
		};

		G2 {
			chan-name = "G2";
			led-cur = /bits/ 8 <50>;
			max-cur = /bits/ 8 <160>;
		};

		B2 {
			chan-name = "B2";
			led-cur = /bits/ 8 <50>;
			max-cur = /bits/ 8 <160>;
		};

		R3 {
			chan-name = "R3";
			led-cur = /bits/ 8 <50>;
			max-cur = /bits/ 8 <160>;
		};

		G3 {
			chan-name = "G3";
			led-cur = /bits/ 8 <50>;
			max-cur = /bits/ 8 <160>;
		};

		B3 {
			chan-name = "B3";
			led-cur = /bits/ 8 <50>;
			max-cur = /bits/ 8 <160>;
		};
	};

	lp5569@0x35 {
		compatible = "ti,lp5569";
		reg = <0x35>;
		clock-mode = /bits/ 8 <1>; /* Internal */

		R4 {
			chan-name = "R4";
			led-cur = /bits/ 8 <50>;
			max-cur = /bits/ 8 <160>;
		};

		G4 {
			chan-name = "G4";
			led-cur = /bits/ 8 <50>;
			max-cur = /bits/ 8 <160>;
		};

		B4 {
			chan-name = "B4";
			led-cur = /bits/ 8 <50>;
			max-cur = /bits/ 8 <160>;
		};

		R5 {
			chan-name = "R5"; /* Not wired */
			led-cur = /bits/ 8 <50>;
			max-cur = /bits/ 8 <160>;
		};

		G5 {
			chan-name = "G5";
			led-cur = /bits/ 8 <50>;
			max-cur = /bits/ 8 <160>;
		};

		B5 {
			chan-name = "B5";
			led-cur = /bits/ 8 <50>;
			max-cur = /bits/ 8 <160>;
		};
	};
};

